@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@500&family=Poppins:wght@300;500&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: poppins, sans-serif;
  background: rgba(0, 0, 0, 0.5) url("../assets/nautical-vessel-sailing.jpg");
  background-size: cover;
  background-blend-mode: darken;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  width: 90%;
  margin: 0 auto;
}
